head.
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Are You Smarter Than An AI?">
  <meta property="og:description" content="Humans can do evals, too.">
  <meta property="og:image" content="/share.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Are You Smarter Than An AI?">
  <meta name="twitter:description" content="Humans can do evals, too.">
  <meta name="twitter:image" content="/share.png">
  <script defer src="https://umani.api.route.run/script.js" data-website-id="e458a477-82de-453d-800e-d839361fbdec"></script>

style.
  
  #main {
    
    width: 100%; 
    height: 100vh; 
  }

  #header {
    background-image: url('/chalk.jpg');
    background-color: #000;
    background-size: cover; 
    background-position: center; 
    font-family: SQUEAK;
    color: rgba(255,255,255,0.8);
  }

  body {
    margin: 0;
    background-color: #ffffe075;
    
  }

  #title {
    font-size: 2.8rem;
    text-align: center;
    transform: rotate(2deg);
    line-height: 1.3;
  }

  #header {
   display: flex;
   gap: 30px;
   align-items: center;
   justify-content: center;
   width: calc(100% - 40px);
   padding: 50px 20px 65px 20px;
  }

  #logo {
    height: 120px;
  }

  @font-face {
    font-family: 'SQUEAK';
    src: url('/chalk.ttf') format('truetype');
  }

  #gameplay {
    display: flex;
    
  }

  .you {
    border: 2px solid black;
  }

  .bold {
    font-weight: 600;
  }

  .sketch {
    width: 42px;
    position: absolute;
    left: -35px;
    top: -7px;
  }

  #question {
    font-size: 1.4rem;
  }

  #answers {
    padding-left: 20px;
    
    font-size: 1.2rem;
  }

  .answer {
    box-sizing: border-box; 
    padding-left: 10px;
    position: relative;
    cursor: pointer;
  }

  #number {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
  }

  th, td {
    border: 1px solid #999;
    padding: 6px 6px;
  }

  th {
    font-size: 0.8rem;
  }

  .check {
    width: 18px;
    position: absolute;
    margin-left: 6px;
  }

  #manifesto {
    font-size: 1.2rem;
    max-width: 600px;
    padding: 0 50px 75px 50px;
    margin: 100px auto;
  }
  
  #leaderboard {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    filter: brightness(100%);
    background-color: #fff;
    max-width: 400px;
    font-family: serif;
    color: #333;
    padding: 30px;
    transform: rotate(2deg);
    min-width: 300px;
    
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
  }

  

  #questionbox {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    filter: brightness(100%);
    background-color: #fff;
    max-width: 500px;
    font-family: serif;
    color: #333;
    padding: 30px;
    transform: rotate(-1deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
  }

  #check {
    font-family: serif; font-weight: 600; font-size: 1.3rem; padding: 8px; margin-top: 16px;
    width: fit-content;
  }

  #game {
    display: flex;
    max-width: 1000px;
    gap: 50px;
    width: 100%;
    justify-content: center;
    margin: -20px auto 0 auto;
  }
  @media (max-width: 671px) {
    td {
      font-size: 0.65rem;
    }
  } 

  @media (max-width: 971px) {
    #header {
      flex-direction: column;
    }

    

    #title {
      font-size: 1.6rem;
    }

    #game {
      flex-direction: column;
      max-width: 100%;
    }

    #leaderboard {
      min-width: revert;
      width: calc(100% - 120px);
      margin: 0 auto;
    }

    #questionbox {
      width: calc(100% - 130px);
      min-width: auto;
      margin: 0 40px;
    }

    #question, .answer {
      font-size: 1rem;
    }
  }

  .grade {
    height: 90px;
    position: absolute;
    right: 20px;
    top: 20px;
    pointer-events: none;
    opacity: 0;
  }

  .animate {
    animation: stampAnimation 4s ease-in-out forwards!important;
  }

  @keyframes stampAnimation {
      0% {
          transform: scale(4.8);
          opacity: 0;
      }
      10% {
          transform: scale(1);
          opacity: 0.8;
      }
      40% {
          transform: scale(1);
          opacity: 1;
      }
      60% {
          transform: scale(1);
          opacity: 1;
      }
      100% {
          opacity: 0;
        transform: scale(1);
      }
  }
 


#main
  #header
    img#logo(src="/apple.png")
    #title Are You Smarter
      br
      | Than An AI?
  //#manifesto "Evals" (short for evaluations) are questions designed to test the abilities of large language models. Well, why can't they assess humans? 
  //  br
  //  | Benchmark yourself to the latest models, and how you compare.

  
  
  #game
    #questionbox
      img#a.grade(src="/a.png")
      img#f.grade(src="/f.png")
      #number 
      #question
      ol(type="A")#answers
        
      button#check(onclick="checkAnswer();") Check
  
    #leaderboard
      div(style="font-weight: 600; font-size: 1.2rem; text-align: center; width: 100%; margin-bottom: 15px; ") LEADERBOARD
      table
        thead
          tr
            th RANK
            th MODEL
            th(style="") 👍
        tbody#tbody
  p#manifesto "Evals" (short for evaluations) are questions designed to test the abilities of large language models. Well, why can't they assess humans? 
    br
    br
    | Answer these questions and benchmark yourself to the latest models. See how you compare. It's time to play, 
    b
      i Are You Smarter Than An AI?
    br
    br
    span(style="font-size: 0.9rem;") Questions curated from <a href="https://arxiv.org/abs/2009.03300">MMLU</a> (yeah, it's not a perfect measure, but it's pretty good). Created by <a href="https://x.com/mehran__jalali">Mehran</a> and <a href="https://x.com/rtwlz">Riley</a> at the May 2024 Runpod hackathon.
  
          
script(src="/answers.js")
script(src="/main.js")